@model Lab3.Models.Images

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Images</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.C_Path_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Path_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_Name_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Name_)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.C_Id_ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
